@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@font-face {
  font-family: 'MonumentExtendedR';
  src: local('MonumentExtendedR'), url('./assets/fonts/MonumentExtended-Regular.otf') format('truetype')
}

* {
  font-family: 'Poppins', sans-serif;
}

.App {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  padding: 0 2vw;
  user-select: none;
}

.navbar-collapse {
  justify-content: flex-end;
}